body{
  margin:0;
  padding: 0;
}
p{
  margin: 0;
}
.logo{
  width: 80px;
}

.navbar-position{

  
}
.text-color{
  color: white;
  font-weight: bold;
  margin-left: 20px;
}
.text-color:hover{
  color: blueviolet;
}
.manual-button{
  background-color: rgb(51, 165, 241);
  color: black;
}
.manual-toggler{
  background-color: white;
}

/* heading */
.header-area{
  height: 240px;
  background-image: url(media/background.jpg);
  background-position: center;
  background-repeat: repeat-x;
  margin-top: px;
}
.first-heading{
  text-align: center;
  padding-top: 25px;
  font-weight: bolder;
}
.first-heading h1{
  margin-bottom: 5px;
  color:white;
}
.manual{
  background-color: goldenrod;
  border: none;
}
.manual-btn{
  text-align: center;
  margin-top: 55px;

}
.first-heading-paragraph{
  color: rgb(242, 243, 247);
  line-height: 30px;
}

.car{
  width: 50px;
}
.service-system{
  text-align: center;
}
.service-system p{
  color: black;
}
.service-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #dfe6e9;
  height: 100px;
}
.best-selling{
  margin-left: 30px;
  margin-top: 30px;
  padding-top: 20px;
}
.book-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 25px;
  
}
.book-all-details{
  box-shadow: 3px 3px 10px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.thumbnail{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.book-details-container{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 5px;
  
}
.author{
  width:50px ;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-left: 5px;
  
  

}
.book-details{
  margin-left: 25px;
}
.title{
  font-size: 14px;
  font-weight: bold;
}
.author-name{
  font-size: 12px;
}
.price{
  font-weight: bold;
}
.buy-now-button{
  background-color: rgb(51, 165, 241);
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 15px ;
  text-align: center;
}
.buy-now-background{
  background-color: rgb(51, 165, 241);
  text-align: center;
  border-top-right-radius:5px ;
  border-top-left-radius:5px ;
}
.buy-now-button:hover{
  color: black;
  transition: 0.3s;
}
.border-container{
  background-color: rgb(241, 237, 237);
  box-shadow: 5px 8px 10px rgba(0,0,0,0.5);
  margin-left: 9px;
  margin-right: 10px;
}